<!doctype html>
<html>
    <head>
        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div
        style="background-image: url('https://mdbcdn.b-cdn.net/img/new/standard/city/041.jpg');"
        ></div>
        <div class="container">
            <h1 class='display-4'>Movie Recommender</h1>
        <div class="row text-center">
       <form action="/" method='post' class='form-inline'>
       		<p>
       			<input type="text" name="search_query">
                <input class='form-control mr-sm-2
                btn-outline-success'type="submit" value="submit" >
       		</p>
      </form>
       <form action="/" method='get' class='form-inline'>
            <p>
                <input class = 'form-control mr-sm-2 btn-outline-success' type="submit" value="clear" >
            </p>
      </form>
      </div>
      
      <!-- {% for image in image_pics %}
      <img src = "{{ image }}" width="200" height="200" />
      {% endfor %} -->
      {% if title != '' and title != 'search result not found please try again' %}
        <h3>Showing results for {{ title }}</h3>  
      {% endif %}
      <div class="row text-center">
      {% for vals,image in test %}
      <div class="col-xs-2">
      <figure>
      <img src = "{{ image }}" width="150" height="150" class="img-thumbnail", alt="this is come text" />
      <figcaption>
      <div class="d-inline-block" style="max-width: 150px;">
      {{vals}}
      </div>
      </figcaption> 
      </figure>
      </div>
      {% endfor %}
      </div>
      </div>


    </body>
</html>